<div class="dining-area dining-padding-top">
    <!-- Single Left img -->
    <div class="single-dining-area left-img">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-8">
                    <div class="dining-caption">
                        <span>RESTAURANTIMIZ</span>
                        <h3>Yeme & İçme</h3>
                        <p>Otelimizin restoranı, lezzetli ve çeşitli menü seçenekleriyle konuklarımıza unutulmaz bir gastronomik deneyim sunmaktadır. <br> Şık atmosferi ve özenli servisi ile keyifli bir yemek deneyimi yaşayabilirsiniz. <br></p>
                        <a href="#" class="btn border-btn">Daha fazla <i class="ti-angle-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single Right img -->
    <div class="single-dining-area right-img">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-8 col-md-8">
                    <div class="dining-caption text-right">
                        <span>Havuzumuz</span>
                        <h3>Yüzme Havuzu</h3>
                        <p>
                         Otelimizin geniş ve şık tasarımlı havuzu, serinlemek ve rahatlamak için mükemmel bir mekandır.<br>  Misafirlerimiz, güneşlenme terasında keyifli anlar geçirebilir ve havuzun tadını çıkarabilir.<br>
                        </p>
                        <a href="#" class="btn border-btn">Daha fazla  <i class="ti-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>