<section class="make-customer-area customar-padding fix">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="customer-img mb-120">
                    <img src="~/marian-master/assets/img/customer/customar1.png" class="customar-img1" alt="">
                    <img src="~/marian-master/assets/img/customer/customar2.png" class="customar-img2" alt="">
                   
                </div>
            </div>
            <div class=" col-xl-4 col-lg-4">
                <div class="customer-caption">
                    <span>Otelimiz hakkında</span>
                    <h2>Misafirlerimize özel anlar yaşatan konforlu otel.</h2>
                    <div class="caption-details">
                        <p class="pera-dtails">
                            Misafirlerimize unutulmaz anlar yaşatacak özgün konseptimizle hizmetinizdeyiz.
                        </p>
                        <p>Otelimiz, modern ve zarif tasarımıyla konforlu bir konaklama deneyimi sunmanın yanı sıra, samimi ve profesyonel hizmet anlayışıyla misafirlerimizin beklentilerini karşılamayı hedeflemektedir. </p>
                        <a href="#" class="btn more-btn1">Detaylar <i class="ti-angle-right"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
